<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">{{ site.title }}</span>
    </div>
  
    <ul class="nav list-unstyled d-flex">
      <li class="ms-3">
        <a href="https://linkedin.com/in/hyelinyu" target="_blank" class="social-linkedin">
          <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="https://github.com/hyelinyu" target="_blank" class="social-github">
          <i class="bi bi-github" style="font-size: 1.5rem;"></i>
        </a>
      </li>
    </ul>
  </footer>